@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';
@use '/src/styles/mixins/flexbox';

.container {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  padding: 10px;

  h1 {
    font-size: 24px;
    font-weight: 800;
  }

  .chart {
    display: flex;
    flex-direction: column;
    max-width: 360px;

    @include flexbox.flexbox(center, center);
  }
}
