@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';
@use '/src/styles/mixins/flexbox';

.container {
  padding: 10px;

  h1 {
    font-size: 24px;
    font-weight: 800;
  }

  .chart {
    flex-direction: column;
    max-width: 360px;
    height: 600px;
    @include flexbox.flexbox(center, center);
  }
}
