@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';
@use '/src/styles/mixins/flexbox';

.bookCard {
  display: inline-block;
  width: 150px;
  height: 230px;
  padding: 8px;
  overflow: hidden;
  // background-color: colors.$WHITE;
  border-radius: 13px;

  img {
    width: 130px;
    height: 180px;
    border-radius: 13px;
    object-fit: cover;
  }

  .title {
    width: 130px;
    overflow: hidden;
    font-weight: 700;
    color: colors.$CYONBLACK;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .author {
    width: 130px;
    overflow: hidden;
    color: colors.$TEXTGRAY;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
